.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
  background-color: var(--color-page-background);
  background-image: var(--page-background-image);
  background-blend-mode: var(--page-background-blend-mode);
  background-repeat: repeat;
  background-position: center top;
  background-size: auto;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: transparent;
  color: var(--color-text-primary);
  font-size: 2rem;
  font-weight: 600;
  padding: 120px 60px;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}
